/* CSS Reset*/
* {
    margin: 0; /*ramoves default margin*/
    box-sizing: border-box; /* makes element size include padding and border*/
}

body {
    background-color: rgb(41, 41, 41);
    color:  whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    background-color: rgb(103, 98, 98);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.list{
    background-color: rgb(41, 41, 41);
    flex-grow: 1;
    border-radius: 20px;
    padding: 50px 20px;
    overflow-y: auto;
}

.form-box{
    background-color: rgb(41, 41, 41);
    padding:  50px 20px;
    border-radius: 20px;
}

.task-item{
    background-color: dodgerblue;
    margin-bottom: 5px;
    padding:6px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.task-item input {
    width: 20px;
    height: 20px;
}
.task-item label{
    font-size: 20px;
}

.form-box{
    display: flex;
    gap: 4px;
}

.form-box input{
    flex-grow: 1;
    font-size: 20px;
    border-radius: 8px;
}
.form-box button{
    background-color: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 80px;
    font-size: 24px;
}

@keyframes slide-right {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(150%);
    }

}

.remove {
    animation: slide-right 0.9s;
    animation-delay: 100ms;
}