/* CSS Reset*/
* {
    margin: 0; /*ramoves default margin*/
    box-sizing: border-box; /* makes element size include padding and border*/
}

body {
    background-color: rgb(41, 41, 41);
    color:  whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    background-color: rgb(103, 98, 98);
    height: 100vh;
    padding: 20px;
}

.list{
    background-color: rgb(41, 41, 41);
}

.form-box{
    background-color: rgb(41, 41, 41);
    padding:  50px 20px;
    border-radius: 20px;
}